@font-face {
  font-family: 'garidelliregular';
  src: url('../fonts/garidelli-webfont.woff2') format('woff2'),
       url('../fonts/garidelli-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 8px;
}