._center {
  margin: 0 auto;
}
._left {
  margin-right: auto;
}
._right {
  margin-left: auto;
}
._text-center {
  text-align: center;
}
._text-justify {
  text-align: justify;
}
._bold {
  font-weight: 700;
}
._regular {
  font-weight: 400;
}
._light {
  font-weight: 100;
}