// z-index
$over-ocean: 10;

// size
$header-height: 80px;
$space: 20px;

// colour
$white: #FFF;
$black: #000;
$space-gray: #3C3C3B;
$blue: #3b5998;

$dark-blue: #3e4c9b;
$mid-blue: #4b93d0;
$light-blue: #94d2dc;
$green: #66966f;
$light-green: #b9d26b;
$yellow: #feda40;
$orange : #f7a800;
$dark-pink: #e6005d;
$pink: #f097af;
$purple: #a870ad;

// typography
$bold: 700;