.main-menu-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > img {
    margin-bottom: $space * 4;
    opacity: 0;
  }
}

.main-menu-page > .choice-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $over-ocean;
}

.main-menu-page > .choice-container >  .choice-item {
  opacity: 0;
  margin: 0 (2*$space);
  transition: 0.3s ease-out;
  &:hover {
    transform: scale(1.25);
  }

  > .img-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  > .img-icon > img {
    width: 100%;
    height: auto;
    display: block;
  }
  > .img-icon > img.addon {
    max-width: 20px;
    position: absolute;
  }
  > h4 {
    color: $white;
    text-transform: uppercase;
  }
}
