// /* Enter and leave animations can use different */
// /* durations and timing functions.              */
// .slide-fade-enter-active {
//   transition: all .3s ease;
// }

// .slide-fade-leave-active {
//   transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
// }

// .slide-fade-enter, .slide-fade-leave-to
//   /* .slide-fade-leave-active below version 2.1.8 */
// {
//   transform: translateX(10px);
//   opacity: 0;
// }

.boat-flag {
  position: absolute;
  z-index: 100;
  background-color: $white;
  padding: 20px;
  height: 80px;
  width: 0;
  opacity: 0;
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width: 3px;
    background-color: red;
    left: 0;
    top: -5px;

  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    display: block;
    border: 40px solid #FFF;
    border-left-width: 0;
    border-right-width: 60px;
    z-index: -1;
    border-right-color: transparent;
  }
  .text {

  }
  .author {

  }
}