.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #000;
  height: 34px;
  padding: 10px 62px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .link-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-list > a {
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
  }
  .link-list > a > p {
    font-weight: 700;
  }
  .button-logout {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .button-logout > img {
    max-width: 20px;
    width: 100%;
    height: auto;
    display: block;
  }
}
