.header {
  background-color: transparent;
  width: 100%;
  height: $header-height;
  padding: 20px 0;
  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

.header .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .title {
  p {
    color: #FFF;
    margin: 0;
  }
}