.header {
  background-color: transparent;
  width: 100%;
  height: $header-height;
  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .title {
  p {
    color: #FFF;
    margin: 0;
  }
}

.header .category-list {
  opacity: 0;
  &.show {
    opacity: 1;
  }
}
.header .user-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  .compass {
    margin-right: 10px;
    cursor: pointer;
  }
  &.show {
    opacity: 1;
  }
}