.paper {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  .paper-body {
    padding: 0 30px;
    max-height: 320px;
    overflow-y: scroll;
  }
  .paper-footer {

  }
}

.paper .paper-header {
  margin: 15px 0;
  h1 {
    margin: 5px 0;
  }
  img {
    display: block;
  }
  .content-title img {
    margin-right: 20px;
  }
}

.paper .paper-body {
  > p.overflow-y {
    height: 300px;
    overflow-y: scroll;
  }
}

.paper .paper-footer {
  color: $black;
  h6 {
    margin: 0;
  }
}

$position: 20px;
.paper .button-close {
  position: absolute;
  top: $position;
  right: $position;
  cursor: pointer;
  transition: 0.15s linear;
  i {
    font-size: 30px;
  }
  &:hover {
    transform: scale(1.2);
  }
}