.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #000;
  height: 34px;
  padding: 10px 62px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .link-list {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-list > a {
    color: #FFF;
    text-decoration: none;
    margin-right: 15px;
  }
}
